/* 変数定義 */

/* Width */
$headerWidth: 200px;
$sectionWidth: 960px;

$innerWidth: 1100px;
$WideWidth: 1200px;

/* Height */
$sp-header-h: 50px;
$swiper-h: 752px;
$swiper-SPh: 599px;
$srvLink-h: 320px;

/* z-index */
$header-z: 900;
$header-ham: 999;

/* Color */
$mainColor: #8bc889;
$titleColor: #547c52;
$textColor: #584f4f;
$subColor: #fcfaf5;
$l-pink: #d3c8b3;
$l-green: #dcebd3;
$f3: #f3f3f3;
/* header_Color */
$header_BGC: #faf9f7;
$header-contact_BGC: #f9f3d8;
$footer_BGC: #635B4F;