/* 変数定義 */

/* Width */
$headerWidth: 260px;
$sectionWidth: 960px;

$innerWidth: 1100px;
$WideWidth: 1200px;

$fv-colorBox_w: 449px;

$message-topText_mw: 720px;
$message-subText_mw: 601px;
$message-imgBox_mw: 435px;

$point-subText_mw: 370px;

$stylist-texts_hello_mw: 720px;

$stylist--list-content_mw: 390px;
$stylist--list-feature_w: 150px;

$menu-priceList_mw: 314px;

$hairCatalog-imgWrap_mw: 256px;

$infomation--lists-wrap_mw: 727px;
$infomation-maps_mw: 840px;

$infomation--reservation--list-feature_w: 240px;

$reservation-wrap_mw: 957px;
$reservation--list-button_w: 256px;
$reservation--list-content_mw: 690px;

$accordion-container_mw: 720px;
$accordion-content-p_mw: 530px;

$contact-texts--form_mw: 720px;
$contact-form--label_mw: calc(720px - 430px);
/* 290 */
$contact-form--input-textarea_mw: 423px;

$foote-box_mw: 320px;



/* Height */
$sp-header-h: 50px;
$swiper-h: 752px;
$swiper-SPh: 599px;
$srvLink-h: 320px;

$fv-text_h: 382px;
$fv-colorBox_h: 310px;

$message-topText_h: 338px;

$stylist-texts_hello_h: 206px;

$instgram-wrap_h: 180px;

$reservation-wrap_h: 118px;

$contact-form--input_h: 40px;
$contact-form--textarea_h: 174px;

$precautions_h: 200px;
// $precautions_h: 400px;

$footer_h: 567px;


/* z-index */
$layer: (
  header: 900,
  header-ham: 999,
  under: -1,
  zero: 0,
  default: 1,
  second: 2,
  text: 3,
  imgBox: 5,
);
// z-index: map-get($layer, under);

/* Color */
$mainColor: #8bc889;
$titleColor: #547c52;
$textColor: #584f4f;
$subColor: #fcfaf5;
$l-pink: #d3c8b3;
$l-green: #dcebd3;
$f3: #f3f3f3;
$d3: #d3d3d3;
/* header_Color */
$header_BGC: #faf9f7;
$header-contact_BGC: #f9f3d8;
$header-contact_btn_hover: #f0e5b7;
/* footer_Color */
$footer_BGC: #635b4f;
$open-color: #707070;