@charset "UTF-8";
/* 変数定義 */
/* Width */
/* 290 */
/* Height */
/* z-index */
/* Color */
/* header_Color */
/* footer_Color */
/* background-color */
/* 共通部分 */
main, footer {
  max-width: calc(100% - (260px));
}

main {
  margin: 0 0 0 auto;
  color: #584f4f;
  background-color: #fcfaf5;
}

.footer {
  color: #fff;
  background-color: #635b4f;
}

.margin-left {
  margin-left: 83px;
}

.pc-none {
  display: none;
}

.inner {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

.inner > section {
  padding-bottom: 150px;
}

.inner > section:last-child {
  padding-bottom: 220px;
}

.section-title, .contact__title {
  font-size: 3rem;
  padding-bottom: 60px;
  color: #584f4f;
}

.section-subTitle {
  font-size: 1.6rem;
  font-weight: bold;
  color: #547c52;
  padding-bottom: 5px;
}

#page_top {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: 0;
  background: #ef3f98;
  opacity: 0.6;
  border-radius: 50%;
}

#page_top a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}

#page_top a::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f106';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -5px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

.fv__scroll {
  color: #fff;
  font-size: 150%;
  display: inline-block;
  position: absolute;
  bottom: 100px;
  padding-top: 100px;
  transform: translate(0, -50%);
}

.fv__scroll .fv__scrollBtn {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  animation: sdb 2s infinite;
  box-sizing: border-box;
}

.fv__scroll .fv__scrollBtn::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(-45deg);
  box-sizing: border-box;
}

@keyframes sdb {
  0% {
    transform: rotate(0deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(0deg) translate(0px, 20px);
    opacity: 0;
  }
}

.fv-border-right {
  position: relative;
}

.fv-border-right::after {
  content: "";
  position: absolute;
  top: 0;
  right: -6px;
  background-color: #8bc889;
  display: inline-block;
  border-radius: 5px;
  height: 100%;
  width: 17px;
  vertical-align: middle;
  z-index: -1;
}

.txt-border-bottom {
  position: relative;
}

.txt-border-bottom::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 5px;
  background-color: #8bc889;
  display: inline-block;
  border-radius: 5px;
  width: 100%;
  height: 14px;
  z-index: -1;
}

.light-green::after {
  content: "";
  background-color: #dcebd3;
}

.lists-wrap {
  position: relative;
}

.lists-wrap:after {
  content: "";
  width: 14px;
  height: 100%;
  background-color: #dcebd3;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 5px;
}

.list-content {
  margin-left: 28px;
  display: flex;
  padding: 15px 0 14px;
  font-size: 1.6rem;
}

.list-content:not(:last-child) {
  border-bottom: 1px solid #d3d3d3;
}

.list-feature {
  padding-left: 6px;
  width: 240px;
}
/*# sourceMappingURL=common.css.map */