@import "variables";

@media (max-width: 1275px) {
  .instgram {
    &_slider {
      display: none;
    }
  }
}

@media (max-width: 700px) {
  main, footer {max-width: 100%;}
  // .inner


  .instgram-wrap {display: none;}


  .pc-none {display: block;}
  .sp-none {display: none;}

  // img {width: 100%;}

  .inner > section {
    padding-bottom: 100px;
    // &:last-child {
    //   padding-bottom: 220px;
    // }
  }

  .section-title, .contact__title {
    font-size: 2.2rem;
    padding-bottom: 50px;
  }

  .section-subTitle {
    font-size: 1.4rem;
    padding-bottom: 2px;
  }

  .list-feature,
  .list-detail {
    font-size: 1.4rem;
  }

  .list-feature {
    font-weight: bold;
    padding: 0 0 5px 0;
  }

  .list-content {
    margin-left: 26px;
    display: block;
  }

  /* header ----- */
  .header {
    &-content {
      width: 100%;
      height: $sp-header-h;
      top: 0;
      // border-bottom: 2px solid $textColor;
      box-shadow: 0px 2px 4px rgba(168, 144, 113, 0.1);
    }

    &-logo {
      height: 100%;
      padding: 10px 0 0 15px;
      text-align: left;
      img {
        height: 80%;
      }
    }
    
    .reservation_BGcolor, .contact_BGcolor {
      width: 62%;
      padding: 13px;
      margin: 0 auto;
      right: 0;
      left: 0;
    }
    .reservation_BGcolor {
      bottom: 148px;
    }

    .contact_BGcolor {
      bottom: 84px;
    }

    .reservation_box {
      position: fixed;
      bottom: 40px;
      right: 0;
      left: 0;
    }

    .sp_tel_btn,
    .sp_reservation_btn {
      position: absolute;
      top: 0px;
    }
    .sp_tel_btn {
      left: 42%;
      background-color: $header-contact_BGC;
      padding: 15px;
      &:hover {
        background-color: $header-contact_btn_hover;
      }
    }
    .sp_reservation_btn {
      left: calc(42% + 50px);;
      background-color: $l-green;
      padding: 17px 20px;
      &:hover {
        background-color: $mainColor;
      }
    }
    
    .hamburger {
      // display: block;
      position: fixed;
      z-index: map-get($layer, header-ham);
      right: 18px;
      top: 4px;
      width: 20px;
      height: 20px;
      cursor: pointer;
      
      span {
        // position: fixed;
        // display: block;
        position: absolute;
        width: 20px;
        height: 2px;
        background: $textColor;
        transition: 0.3s ease-in-out;
        &:nth-child(1) {top: 15px;}
        &:nth-child(2) {top: 22px;}
        &:nth-child(3) {top: 28px;}
      }
    }
  
    /* ナビ開いてる時のボタン */
    .hamburger.active span {
      top: 20px;
      &:first-of-type {
        transform: rotate(-45deg);
      }
      &:not(:first-of-type) {
        transform: rotate(45deg);
      }
    }
    
    /* このクラスを、jQueryで付与・削除する */
    nav.globalMenuSp.active {
      transform: translateX(0%);
    }
    
    nav.globalMenuSp {
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0;
      color: #000;
      background: #fff;
      text-align: center;
      transform: translateX(100%);
      transition: all 0.6s;
      
      li {
        &:nth-of-type(-n+5) {
          padding: 0 0 31px 0;
        }
        &:first-of-type {
          padding: 48px 0 27px;
        }
        &:hover {
          background: #ddd;
        }

      }
    }
  }
  /* ----- header */

  /* message ----- */
  .message {
    &-topText {
      font-size: 1.5rem;
      height: auto;
      padding: 53px 14.375vw 70px 14.688vw;
      border-radius: 15px;
      &::before {
        width: 27px;
        height: 32px;
        top: 40px;
        left: 20px;
      }
    }
    .txt-border-bottom::after {
      top: 13px;
      height: 11px;
    }
    
    &-subText {
      padding: 47px 7.5vw 68px 4.688vw;
      border-radius: 0 15px 15px 0;
      margin: -25px 14.063vw 0 -15px;
      font-size: 1.3rem;
      line-height: calc(24 / 13);

    }
    &_imgBox {
      bottom: -176px + 40px;
      right: -24px;
      width: 86.875vw;
      min-width: 100%;
      overflow: hidden;
      img {width: 100%;}
    }
  }
  /* ----- message */

  /* point ----- */
  .point {
    margin-top: 75px;
    
    &-content {
      flex-direction: column;
    }

    &-imgWrap {
      max-width: 100%;
      img {
        width: 100%;
      }
    }

    &-textWrap {
      width: 100%;
      padding-left: 0px;
      margin-left: 8px;
    }
    
    &-topText {
      font-size: 1.6rem;
      padding: 20px 0;
    }
    
    &-subText {
      font-size: 1.4rem;
    }
    .reverse {
      margin: 40px 0;
    }

    .return_text {
      order: 2;
    }

    .txt-border-bottom::after {
      margin-top: -1px;
    }
  }
  /* ----- point */

  /* stylist ----- */
  .stylist {
    &-textWrap {
      font-size: 1.6rem;
      padding: 40px 0 0 0px;
      height: 100%;
    }
    &-name_Post,
    &-text_hello,
    .list-feature,
    .list-detail {
      font-size: 1.4rem;
    }
    &-name {
      font-size: 1.8rem;
      padding-bottom: 32px;
    }
    &-texts_hello {
      padding-bottom: 24px;
    }


  }
  /* ----- stylist */
  
  /* menu ----- */
  .menu {
    .section-title {
      padding-bottom: 20px;
    }

    &-pricesContent {
      background-color: #fff;
      border-radius: 0px;
      margin: 0 -15px;
      padding: 0 15px;
    }

    &-priceLists {
      padding: 30px 0 40px;
      display: block;
    }

    &-priceList {
      width: 100%;
      &:not(:last-of-type) {
        padding-bottom: 40px;
      }
    }

    &-priceTitle {
      font-size: 1.8rem;
    }

    &-priceWrap {
      padding: 0 5px 0 6px;
      font-size: 1.4rem;
    }

    &-priceName {
      padding: 16px 0 14px;
    }

    &-texts {
      font-size: 1.4rem;
      padding: 0 0 30px 0;
      & p:first-of-type {
        padding-bottom: 8px;
      }
    }
  }
  /* ----- menu */
  
  /* hairCatalog ----- */
  .hairCatalog {
    &-contents {
      margin-bottom: 0;
    }

    &-imgWrap {
      width: 45%;
      margin-bottom: 0px;

      img {
        width: 100%;
      }
      &:nth-child(3n+2),
      &:nth-child(3n) {
        padding-top: 0px;
      }

      &:nth-child(2) {
        margin-top: 15px;
      }
      &:nth-child(2n+3) {
        margin-top: -5px;
      }
      &:nth-child(2n+4) {
        margin-top: 30px;
      }
    }

    &-imgText {
      font-size: 1.2rem;
      padding: 10px 8px 10px 8px;
      border-radius: 0 0 10px 10px;
    }
  }
  /* ----- hairCatalog */
  
  /* infomation ----- */
  .infomation {
    .lists-wrap {
      margin: 40px auto;
    }
    &-maps {
      height: 240px;
    }
    &-map {
      height: 100%;
    }
  }
  /* ----- infomation */
  
  /* reservation ----- */
  .reservation {
    margin-bottom: 100px;
    &-content {
      padding: 40px 15px;
      & > p:not(:first-of-type) {
        font-size: 1.4rem;
        line-height: calc(24 / 14);
      }
    }

    &-wrap {
      display: block;
      margin: 32px 0 0;
      width: 100%;
      height: auto;
    }

    &-button {
      width: 100%;
    }
    
    .btn-tel {
      padding: 27px 0 26px;
      & > p {
        width: 40px;
      }
      img {
        width: 100%;
      }
      & > div {
        margin-left: 24px;
        
        a {
          font-size: 1.6rem;
        }
        p {
          font-size: 1.4rem;
        }
      }
    }

    .btn-hotpepper {
      padding: 17px 0;
      margin: 24px 0;
    }
    
    .btn-line {
      padding: 20px 0 19px;
      a {
        font-size: 1.6rem;
        height: 50px;
      }
      img {
        height: 100%;
        padding-right: 24px;
      }
    }

    .lists-wrap {
      margin: 40px 0 0 0;
    }
    
    .list-content:not(:last-child) {
      border-bottom: 1px solid $textColor;
    }
  }
  /* ----- reservation */
  
  /* questions ----- */
  .accordion {
    &-mark {
      font-size: 1.8rem;
      padding-right: 16px;
    }
    
    &-container {
      font-size: 1.4rem;
    }
    
    &-wrap {
      margin-bottom: 12px;
    }

    &-title {
      padding: 20px 43px 20px 12px;
      border-radius: 10px;
      &::before, &::after {
        right: 12px;
        width: 18px;
        height: 3px;
      }
    }

    &-content {
      padding: 0 0 24px 12px;
      border-radius: 0px 0px 10px 10px;
      .accordion-mark {
        padding-right: 18px;
      }
      p {
        padding-top: 0px;
        line-height: calc(20 / 14);
      }
    }
  }

  .accordion-title.open { 
    border-radius: 10px 10px 0px 0px;
  }
  /* ----- questions */
  
  /* contact ----- */
  .contact {
    &-texts {
      font-size: 1.4rem;
      padding: 16px 8px;
      margin: 0;
    }
  
    form {
      margin: 40px 0 0 0;
      font-size: 1.4rem;
    }
  
    &__wrap {
      &:not(:nth-child(6)) {
        padding-bottom: 18px;
      }

      textarea {
        height: 190px;
        margin-bottom: 18px;
      }
    }

    label {
      height: 24px;
      vertical-align: middle;
      margin-bottom: 10px;
    }
  
    label::after {
      content: "";
      right: auto;
      margin: -4px 0 0px 20px;
    }
  
    &__button {
      padding: 22px 104px 17px;
    }
  }
  
  // precautions
  .precautions  {
    &-title {
      font-size: 1.4rem;
      padding-bottom: 12px;
    }
    height: 200px;
    font-size: 1.4rem;
    padding: 16px 14px;
  }
  
  .agree_btn {
    margin: 49px 0;
    input {
      margin: 0;
    }
    label {
      padding: 4px 0 0 18px;
    }
  }
  /* ----- contact */

  /* reservation ----- */
  /* ----- reservation */


  /* .message, .point, .stylist, 
  .menu, .hairCatalog, .infomation,
  .reservation, .questions, .contact,
  */
  //  {display: none;}
  .fv , .footer{
    display: none;
  }
}