@import "variables";
@media (max-width: 1275px) {
  .instgram {
    &_slider {
      display: none;
      // max-width: 597px;
      &Img {
        // max-width: 150px;
      }
    }
  }
}

@media (max-width: 700px) {
  main {display: none;}
  .inner {display: none;}

  /* header ----- */
  .header {
    position: relative;
    &-content {
      width: 100%;
      height: $sp-header-h;
      background-color: aqua;
      padding: 0 15px;
      position: fixed;
      top: 0;
    }

    &-logo {
      height: 100%;
      padding: 0;
      padding-top: 10px;
      text-align: left;
      img {
        height: 80%;
      }
    }

    &-navList {
      height: 100vh;
      border: none;
      width: 100%;
    }

    .reservation_BGcolor {
      width: 100%;
      padding: 0;
      margin-bottom: 0;
      position: static;
    }
    .contact_BGcolor {
      width: 100%;
      padding: 0;
      position: static;
    }
    .sp-none {
      display: none;
    }
  }
  /* ----- header */

  .hamburger {
    display: block;
    position: fixed;
    right: 18px;
    top: 4px;
    width: 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;
    
    z-index: $header-ham;
    span {
      position: fixed;
      display: block;
      position: absolute;
      width: 30px;
      height: 2px;
      left: 6px;
      background: #555;
      transition: 0.3s ease-in-out;

      &:nth-child(1) {
        top: 10px;
      }
      &:nth-child(2) {
        top: 20px;
      }
      &:nth-child(3) {
        top: 30px;
      }
    }
  }

  /* ナビ開いてる時のボタン */
  .hamburger.active span {
    &:nth-child(1) {
      top: 16px;
      left: 6px;
      transform: rotate(-45deg);
    }
    
    &:nth-child(2),
    &:nth-child(3) {
      top: 16px;
      transform: rotate(45deg);
    }
  }

  nav.globalMenuSp {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    color: #000;
    background: #fff;
    text-align: center;
    transform: translateX(100%);
    transition: all 0.6s;
    width: 100%;

    ul {
      margin: 0 auto;
      padding: 0;
      width: 100%;

      li {
        list-style-type: none;
        padding: 0;
        width: 100%;

        &:last-child {
          padding-bottom: 0;
          border-bottom: none;
        }
        &:hover {
          background: #ddd;
        }
        a {
          display: block;
          color: #000;
          padding: 13px 0;
          text-decoration: none;
        }
      }
    }
  }

  /* このクラスを、jQueryで付与・削除する */
  nav.globalMenuSp.active {
    transform: translateX(0%);
  }

  /* fv ----- */
  .fv, .message, .point, .stylist, .instgram, .stickarrow,
  .menu, .hairCatalog, .infomation, .reservation, .btn-tel, .btn-line,
  .accordion, .contact , .precautions , .footer{
    display: none;
  }
  .sp-none {
    display: none;
  }
}