@import "variables";
/* header ----- */
.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  &-content {
    width: $headerWidth;
    height: 100vh;
    background-color: $header_BGC;
  }
  
  &-logo {
    padding: 40px 0;
    text-align: center;
  }
  
  &-lists a {
    color: $textColor;
    font-size: 1.6rem;
  }
  
  &-list {
    padding-left: 40px;
    padding-bottom: 28px;
  }
  
  &-navBox {
    position: relative;
  }
  
  .reservation_BGcolor a, .contact_BGcolor a {
    color: $textColor;
  }
  
  .reservation_BGcolor, .contact_BGcolor {
    width: $headerWidth;
    text-align: center;
  }
  
  .reservation_BGcolor {
    background-color: $l-green;
    margin-bottom: 30px;
    padding: 19px 0 18px;
    position: absolute;
    bottom: 136px;
  }
  
  .contact_BGcolor {
    background-color: $header-contact_BGC;
    padding: 30px 0;
    position: absolute;
    bottom: 40px;
  }

  .hamburger {
    visibility: hidden;
  }
}
/* ----- header */

/* fv ----- */
.fv {
  height: 100vh;
  padding: 80px 40px 0px;
  width: 100%;
  &-img {
    width: 100%;
  }
  &-text {
    font-size: 2.6rem;
    background-color: royalblue;
    position: absolute;
    bottom: 0;
    right: 123px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    z-index: 1;
    width: 152px;
    height: 382px;
    line-height: 2;
    .fvTxt-space {
      padding-top: 35px;
    }
  }
  &-colorBox {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: $mainColor;
    opacity: .8;
    width: 449px;
    height: 310px;
    z-index: 0;
    border-radius: 30px 0 0 30px;
  }
}
/* ----- fv */

      //     .fv {
      //       height: calc(100vh - 40px);
      //       display: flex;
      //       justify-content: center;
      //       align-items: center;
      //       flex-direction: column;
      //       margin: 20px 20px 60px 20px ;
            
      //       background-color: #333;
      // }
      


  

// .about {
//   padding-left: 200px;
//   position: relative;
//   padding-bottom: 150px;
//   &__text {
//     padding-top: 388px;
//     padding-bottom: 57px;
//     line-height: 2.0;
//     z-index: 2;
//   }
//   &__bgImg {
//     position: absolute;
//     top: 200px;
//     left: -130px;
//     z-index: -1;
//   }
// }

// .menu {
//   margin-top: 100px;
//   padding-left: 82px;
//   padding-top: 178px;
//   padding-bottom: 75px;
//   background-color: #FCFAF5;
  
//   .menu__priceLists {
//     background-color: pink;
//     background-color: #fff;
//     border-radius: 50px;
//     width: 85%;
//     padding: 50px;
//     display: flex;
//     flex-wrap:wrap;
//     justify-content: center;
//   }
  
//   .menu__priceList {
//     width: 45%;
//     margin-right: 40px;
//     margin-bottom: 60px;
//   }
  
// }
// .menu__priceTitle {
//   font-size: 130%;
//   border-bottom: 2px solid #584F4F;
// }

// .menu__price {
//   padding: 20px 0;
//   border-bottom: 1px solid #584F4F;
// }

// .access {
//   padding-left: 83px;
  
//   .menu__priceList {
//     margin: 60px auto;
    
//     width: 711px;
//   }
//   .map {
//     text-align: center;
//   }
// }
// footer {
//   background-color: rgb(192, 125, 125);
//   height: 150px;
//   width: 75%;
//   margin: 0 0 0 auto;
//   text-align: center;
//   line-height: 150px;
// }
      

      .sp-none {
        display: none;
      }