@import "variables";
/* header ----- */
.header {
  position: relative;
  left: 0;
  width: 100%;

  &-content {
    width: $headerWidth;
    height: 100vh;
    background-color: $header_BGC;
    position: fixed;
    z-index: map-get($layer, header);
  }
  
  &-logo {
    padding: 40px 0;
    text-align: center;
  }
  
  &-lists a {
    color: $textColor;
    font-size: 1.6rem;
  }
  
  &-list {
    padding-left: 60px;
    padding-bottom: 28px;
  }
  
  &-navBox_bottom {
    position: relative;
  }
  
  .reservation_BGcolor a, .contact_BGcolor a {
    color: $textColor;
  }
  
  .reservation_BGcolor, .contact_BGcolor {
    width: $headerWidth;
    text-align: center;
    font-weight: bold;
    transition: 0.5s;
  }
  
  .reservation_BGcolor {
    background-color: $l-green;
    margin-bottom: 30px;
    padding: 19px 0 18px;
    position: absolute;
    bottom: 136px;
    &:hover {
      background-color: $mainColor;
    }
  }

  .reservation_box {
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      padding-left: 5px;
    }
  }
  
  .contact_BGcolor {
    background-color: $header-contact_BGC;
    padding: 30px 0;
    position: absolute;
    bottom: 40px;
    &:hover {
      background-color: $header-contact_btn_hover;
    }
  }
}
/* ----- header */

/* fv ----- */
.fv {
  height: 100vh;
  padding: 80px 40px 0px;
  width: 100%;

  &-img {
    width: 100%;
  }

  &-texts {
    font-size: 2.6rem;
    font-weight: bold;
    position: absolute;
    bottom: 40px;
    right: 123px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    width: 152px;
    height: 382px;
    line-height: 2;
    z-index: map-get($layer, text);
    
    .fvTxt-space {
      padding-top: 35px;
    }
  }

  &-colorBox {
    position: absolute;
    bottom: 40px;
    right: 0;
    background-color: $mainColor;
    opacity: .8;
    width: 449px;
    height: 310px;
    z-index: map-get($layer, zero);
    border-radius: 30px 0 0 30px;
    mix-blend-mode: overlay;
  }
}
/* ----- fv */

/* message ----- */
.message {
  margin-top: 60px;

  &-texts {
    position: relative;
  }
  &-topText {
    font-size: 2rem;
    line-height: calc(48 / 20);
    max-width: 720px;
    height: 338px;
    border: 1px solid $mainColor;
    border-radius: 30px;
    padding-top: 80px;
    margin: 0 auto;
    padding-left: 200px;
    // z-index: map-get($layer, second);
     /* 2 */
    z-index: 2;
  }

  &-topText::before {
    position: absolute;
    top: 60px;
    left: calc(110px + 120px);
    margin: 0 auto;
    content: "";
    display: inline-block;
    width: 55px;
    height: 45px;
    background: url(../image/topMessage_svg.png) no-repeat;
    background-size: contain;
  }


  &-subText {
    margin-top: calc(327px - 405px);
    font-size: 1.6rem;
    line-height: calc(32 / 16);
    padding: 64px 120px;
    max-width: 601px;
    background-color: $l-green;
    border-radius: 30px;
    z-index: map-get($layer, text); /* 3 */
  }

  &_imgBox {
    text-align: right;
    margin-top: calc(206px - 405px);
    z-index: map-get($layer, imgBox); /* 5 */
  }
}
/* ----- message */

/* point ----- */
.point {
  &-content {
    display: flex;
    flex-wrap: nowrap;
  }

  &-imgWrap {
    max-width: 50%;
  }

  &-textWrap {
    width: 50%;
    align-self: center;
    padding-left: 60px;
  }

  &-topText {
    font-size: 2rem;
    padding-bottom: 24px;
    position: relative;
    z-index: 5;
  }

  &-subText {
    font-size: 1.6rem;
    max-width: 370px;
  }

  .reverse {
    margin: 60px 0;
  }
  
  .return1 {
    order: 1;
    padding-left: 0px;
    .point-subText {
      max-width: 390px;
    }
  }

  .return2 {
    order: 2;
    img {
      max-width: 100%;
    }
  }
}
/* ----- point */

/* stylist ----- */
.stylist {
  &-imgBox {
    width: 100%;
    img {
      max-width: 100%;
    }
  }

  &-textWrap {
    font-size: 1.6rem;
    padding-top: 60px;
    padding-left: 120px;
    height: 100%;
  }

  &-name {
    font-size: 2.2rem;
    padding-bottom: 60px;
  }

  &-texts_hello {
    // height: 182px;
    height: 206px;
    max-width: 720px;
    padding-bottom: 24px;
  }
  
  &-text_hello {
    line-height: calc(32 / 16);
  }
}
/* ----- stylist */

.lists-wrap {
  margin-bottom: 40px;
  position: relative;
  &:after{
    content: "";
    width: 14px;
    height: 100%;
    background-color: $l-green;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 5px;
  }
}

.list-content {
  margin-left: 28px;
  display: flex;
  max-width: 390px;
  padding: 15px 0 14px;
  font-size: 1.6rem;

  &:not(:last-child) {
    border-bottom: 1px solid $d3;
  }
}
.list-feature {
  padding-left: 6px;
  width: 150px;
}

// 矢印
.stickarrow {
  margin-left: -9px;
  width: 178px;
  height: 20px;
  border-bottom: 1px solid $textColor;
  border-right: 1px solid $textColor;
  transform: skew(45deg);
  margin-right: 62px;
}

/* instgram ----- */
.instgram {
  &-wrap {
    padding-top: 40px;
    height: 180px;
    display: flex;
    align-items: flex-end;
  }
  &-icon {
    display: inline-block;
  }
  &-text {
    padding-left: 21px;
    color: $textColor;
    font-weight: bold;
  }
  &_slider {
    padding: 0;
    width: 100%;
    height: auto;
    margin: 0 0;
    max-width: calc(210px * 3);
    &Img {
      width: 180px;
    }
  }
}
/* ----- instgram */

/* menu ----- */
.menu {
  .section-title {
  padding-bottom: 35px;}
  &-pricesContent {
    background-color: #fff;
    border-radius: 65px;
  }

  &-priceLists {
    width: 100%;
    padding: 60px 120px 40px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
  }

  &-priceList {
    width: 50%;
    
    &:nth-child(odd) {
      padding-right: 40px;}
    &:nth-child(1), &:nth-child(2) {
      padding-bottom: 60px;}
  }

  &-priceTitle {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 20px;
    border-bottom: 1px solid $textColor;
  }

  &-priceWrap {
    font-size: 1.6rem;
    display: inline;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $textColor;
  }

  &-priceName {
    padding: 15px 0;
  }

  &-texts {
    font-size: 1.6rem;
    padding-left: 80px;
    padding-bottom: 60px;
  }
}
/* ----- menu */

/* hairCatalog ----- */
.hairCatalog {
  &-contents {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    margin-bottom: -20px;
  }
  &-imgWrap {
    width: 100%;
    max-width: 256px;
    margin-bottom: 20px;
    &:nth-child(3n+2) {
      padding-top: 40px;
    }
    &:nth-child(3n) {
      padding-top: 80px;
    }
  }
  &-imgText {
    background-color: $l-green;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 24px 0px 24px 20px;
    border-radius: 0 0 20px 20px;
  }
}
/* ----- hairCatalog */

/* infomation ----- */
.infomation {
  &-image img{
    width: 100%;
  }
  .menu__priceList {
    margin: 60px auto;
    width: 711px;
  }
  &-map {
    text-align: center;
  }
}

.lists-margin {
  margin: 60px 0 60px 120px;
  .list-content { 
    max-width: 690px;
  }
  .list-feature {
    width: 240px;
  }
}
/* ----- infomation */

/* reservation ----- */
.reservation {
  background-color: $l-green;
  background-size: cover;
  margin-bottom: 150px;

  &-content {
    padding: 60px 0;

    p {
      font-size: 1.6rem;
      line-height: calc(32 / 16);
    }
  }
  &-wrap {
    max-width: 957px;
    height: 118px;
    margin: 60px 0;
    display: flex;
    justify-content: space-between;
  }
  &-button {
    width: 256px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    border: none;
    padding: 0;
  }

  .lists-wrap:after {
    background-color: #fff;
  }

  .list-content:not(:last-child) {
    border-bottom: 1px solid #fff;
  }
}

.btn-tel {
  display: flex;
  & > p {
    width: 43px;
  }
  & > div {
    text-align: center;
    margin-left: 19px;
    color: $textColor;
    font-size: 1.6rem;
    a {
      font-size: 2rem;
      font-weight: bold;
      color: $textColor;
    }
  }
}

.btn-line {
  a {
    font-size: 2rem;
    font-weight: bold;
    color: $textColor;
    
    display: flex;
    align-items: center;
  }
  img {
    padding-right: 16px;
  }
}
/* ----- reservation */

/* questions ----- */
// accordion
.accordion {
  &-container {
    width: 300px;
    width: 720px;
    margin: 0 auto;
    font-size: 1.6rem;
  }
  &-wrap {
    margin-bottom: 16px;
  }
  &-title {
    display: flex;
    align-items: center;
    
    padding: 24px 0 24px 40px;
    position: relative;
    margin: 0;
    background-color: #fff;
    border-radius: 20px;
    color: $textColor;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 35px;
      width: 24px;
      height: 2px;
      transform: rotate(90deg);
      background: $open-color;
      transition: all .3s ease-in-out;
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 35px;
      width: 24px;
      height: 2px;
      background: $open-color;
      transition: all .2s ease-in-out;
    }
  }
  &-mark {
    font-size: 2.5rem;
    padding-right: 30px;
  }
}

// .accordion-container
.accordion-title {
  &:hover, &:active { 
    background-color: $l-green;
  }
}
.accordion-title.open { 
  background-color: #fff;
  border-radius: 20px 20px 0px 0px;
}

.accordion-title.open {
  &::before {
    transform: rotate(180deg);
  }
  &::after {
    opacity: 0;
  }
}
.accordion-content {
  display: none;
  padding: 0 0 24px 40px;
  background-color: #fff;
  border-radius: 0px 0px 20px 20px;

  dd {
    display: flex;
    flex-wrap:nowrap;
  }
  p {
    max-width: 530px;
    padding-top: 5px;
    line-height: calc(32 / 16);
  }
}
//accordion
/* ----- questions */

/* contact ----- */
.contact {
  &-texts {
    background-color: $l-green;
    font-size: 1.6rem;
    padding: 17px 24px;
    max-width: 720px;
    margin: 0 0 42px 120px;
    border-radius: 5px;

    a {
      color: $textColor;
      text-decoration: $textColor underline;
    }
  }

  form {
    max-width: 720px;
    margin-left: 120px;
    font-size: 1.6rem;
  }

  &__wrap {
    &:not(:nth-child(6)) {
      padding-bottom: 24px;
    }

    > label {
      max-width: calc(720px - 430px);
      width: 100%;
      font-weight: bold;
      display: inline-block;
      position: relative;
    }

    > input, textarea {
      box-sizing: border-box;
      max-width: 423px;
      width: 100%;
    }

    > input {
      height: 40px;
    }
    textarea {
      height: 174px;
      margin-bottom: 32px;
    }
  }

  label[for="text"] {
    vertical-align: top;
  }

  label::after {
    content: "";
    font-size: 1.2rem;
    font-weight: bold;
    color: $textColor;
    padding: 4px 12px;
    border-radius: 5px;
    position: absolute;
    right: 36px;
  }
  .required::after {
    content: "必須";
    background-color: #F9C4C4;
  }
  .optional::after {
    content: "任意";
    border: 1px solid $textColor;
  }

  &__button {
    padding: 20px 104px;
    background-color: #E3E3E3;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 auto;
    display: flex;
    align-items: center;
    transition: 0.5s;
    &:hover {
      background-color: $mainColor;
    }
  }
}
// precautions
.precautions  {
  &-title {
    font-weight: bold;
    font-size: 1.6rem;
    padding-bottom: 24px;
  }
  width: 100%;
  height: 200px;
  height: 400px;
  font-size: 1.6rem;
  overflow-y: scroll;
  background-color: #fff;
  padding: 16px 17px;
}
.agree_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 54px 0;
  input {
    width: 25px;
    height: 25px;
  }
  label {
    padding-left: 40px;
  }
}
// precautions
/* ----- contact */

/* footer ----- */
.footer {
  // background-color: $footer_BGC;
  height: 567px;
  text-align: center;
  // line-height: 150px;
  max-width: calc(100% - (260px));
  margin: 0 0 0 auto;

  a {
    color: #fff;
  }
  &-logo {
    padding: 56px 0 16px;
  }
  &_box {
    font-size: 1.6rem;
    padding: 20px 0 24px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    max-width: 320px;
    text-align: center;
    text-align: left;
    margin: 40px auto 48px;
  }
  &_list {
    padding-bottom: 10px;
    display: inline-block;
  }
  &_tel_icon {
    display: flex;
    align-items: center;
    height: 20px;
    a {
      padding-left: 5px;
    }
  }
  small {
    font-size: 1.2rem;
  }
}
/* ----- footer */