@charset "UTF-8";
/* 変数定義 */
/* Width */
/* Height */
/* z-index */
/* Color */
/* header_Color */
/* header ----- */
.header {
  position: relative;
  left: 0;
  width: 100%;
}

.header-content {
  width: 200px;
  height: 100vh;
  background-color: #faf9f7;
  position: fixed;
  z-index: 900;
}

.header-logo {
  padding: 40px 0;
  text-align: center;
}

.header-lists a {
  color: #584f4f;
  font-size: 1.6rem;
}

.header-list {
  padding-left: 40px;
  padding-bottom: 28px;
}

.header-navBox_bottom {
  position: relative;
}

.header .reservation_BGcolor a, .header .contact_BGcolor a {
  color: #584f4f;
}

.header .reservation_BGcolor, .header .contact_BGcolor {
  width: 200px;
  text-align: center;
}

.header .reservation_BGcolor {
  background-color: #dcebd3;
  margin-bottom: 30px;
  padding: 19px 0 18px;
  position: absolute;
  bottom: 136px;
}

.header .contact_BGcolor {
  background-color: #f9f3d8;
  padding: 30px 0;
  position: absolute;
  bottom: 40px;
}

/* ----- header */
/* fv ----- */
.fv {
  height: 100vh;
  padding: 80px 40px 0px;
  width: 100%;
}

.fv-img {
  width: 100%;
}

.fv-text {
  font-size: 2.6rem;
  position: absolute;
  bottom: 40px;
  right: 123px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  z-index: 1;
  width: 152px;
  height: 382px;
  line-height: 2;
}

.fv-text .fvTxt-space {
  padding-top: 35px;
}

.fv-colorBox {
  position: absolute;
  bottom: 40px;
  right: 0;
  background-color: #8bc889;
  opacity: .8;
  width: 449px;
  height: 310px;
  z-index: 0;
  border-radius: 30px 0 0 30px;
}

/* ----- fv */
/* message ----- */
.message {
  margin-top: 60px;
}

.message-topText {
  position: relative;
  font-size: 2rem;
  line-height: calc(48 / 20);
  max-width: 720px;
  height: 338px;
  border: 1px solid #8bc889;
  border-radius: 30px;
  padding-top: 80px;
  margin: 0 auto;
  padding-left: 200px;
}

.message-topText::before {
  position: absolute;
  top: 60px;
  left: 110px;
  margin: 0 auto;
  content: "";
  display: inline-block;
  max-width: 46px;
  height: 38px;
  background: url(../image/topMessage_svg.png) no-repeat;
  background-size: contain;
}

.message-subText {
  margin-top: calc(327px - 405px);
  font-size: 1.6rem;
  line-height: calc(32 / 16);
  padding: 64px 120px;
  max-width: 601px;
  background-color: #dcebd3;
  border-radius: 30px;
}

.message_imgBox {
  text-align: right;
  margin-top: calc(206px - 405px);
}

/* ----- message */
/* point ----- */
.point-content {
  display: flex;
  flex-wrap: nowrap;
}

.point-imgWrap {
  max-width: 50%;
}

.point-textWrap {
  width: 50%;
  align-self: center;
  padding-left: 60px;
}

.point-topText {
  font-size: 2rem;
  padding-bottom: 24px;
}

.point-subText {
  font-size: 1.6rem;
  max-width: 370px;
}

.point .reverse {
  margin: 60px 0;
}

.point .return1 {
  order: 1;
  padding-left: 0px;
}

.point .return1 .point-subText {
  max-width: 390px;
}

.point .return2 {
  order: 2;
}

.point .return2 img {
  max-width: 100%;
}

/* ----- point */
/* stylist ----- */
.stylist-imgBox {
  width: 100%;
}

.stylist-imgBox img {
  max-width: 100%;
}

.stylist-textWrap {
  font-size: 1.6rem;
  padding-top: 60px;
  padding-left: 120px;
  height: 100%;
}

.stylist-name {
  font-size: 2.2rem;
}

.stylist-texts_hello {
  height: 182px;
}

.stylist-text_hello {
  padding-top: 60px;
  line-height: calc(32 / 16);
}

/* ----- stylist */
/* menu ----- */
.menu .section-title {
  padding-bottom: 35px;
}

.menu-pricesContent {
  background-color: #fff;
  border-radius: 65px;
}

.menu-priceLists {
  width: 100%;
  padding: 60px 120px 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.menu-priceList {
  width: 50%;
}

.menu-priceList:nth-child(odd) {
  padding-right: 40px;
}

.menu-priceList:nth-child(1), .menu-priceList:nth-child(2) {
  padding-bottom: 60px;
}

.menu-priceTitle {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 20px;
  border-bottom: 2px solid #584f4f;
}

.menu-priceWrap {
  font-size: 1.6rem;
  display: inline;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #584f4f;
}

.menu-priceName {
  padding: 15px 0;
}

.menu-texts {
  font-size: 1.6rem;
  padding-left: 80px;
  padding-bottom: 60px;
}

/* ----- menu */
/* hairCatalog ----- */
.hairCatalog-contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hairCatalog-imgWrap {
  width: 100%;
  max-width: 256px;
}

.hairCatalog-imgWrap:nth-child(2) {
  padding-top: 40px;
}

.hairCatalog-imgWrap:nth-child(3) {
  padding-top: 80px;
  padding-bottom: 20px;
}

.hairCatalog-imgWrap:nth-child(5) {
  padding-top: 40px;
}

.hairCatalog-imgWrap:nth-child(6) {
  padding-top: 80px;
}

.hairCatalog-imgText {
  background-color: #dcebd3;
  font-size: 1.4rem;
  padding: 24px 0px 24px 20px;
  border-radius: 0 0 20px 20px;
}

/* ----- hairCatalog */
/* infomation ----- */
.infomation-image img {
  width: 100%;
}

.infomation .menu__priceList {
  margin: 60px auto;
  width: 711px;
}

.infomation-map {
  text-align: center;
}

/* ----- infomation */
/* reservation ----- */
.reservation-content {
  padding: 60px 0;
}

.reservation-content p {
  font-size: 1.6rem;
  line-height: calc(32 / 16);
}

.reservation-wrap {
  max-width: 957px;
  height: 118px;
  margin: 60px 0;
  display: flex;
  justify-content: space-between;
}

.reservation-button {
  width: 256px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----- reservation */
/* questions ----- */
.accordion-space {
  font-size: 2.5rem;
  padding-right: 30px;
}

.accordion-container .accordion-title {
  padding: 24px 0 24px 40px;
  position: relative;
  margin: 0;
  background-color: #fff;
  border-radius: 20px;
  color: #584f4f;
  cursor: pointer;
}

.accordion-wrap {
  margin-bottom: 16px;
}

.accordion-title {
  display: flex;
  align-items: center;
}

.accordion-title, .accordion-content {
  font-size: 1.6rem;
}

.accordion-container .accordion-title:hover,
.accordion-container .accordion-title:active,
.accordion-title.open {
  background-color: #8bc889;
  opacity: .9;
}

.accordion-container .accordion-title::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 25px;
  width: 15px;
  height: 2px;
  /*縦線に*/
  transform: rotate(90deg);
  background: #fff;
  transition: all .3s ease-in-out;
}

.accordion-container .accordion-title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 25px;
  /*横線*/
  width: 15px;
  height: 2px;
  background: #fff;
  transition: all .2s ease-in-out;
}

.accordion-container .accordion-title.open::before {
  transform: rotate(180deg);
}

.accordion-container .accordion-title.open::after {
  opacity: 0;
}

.accordion-content {
  display: none;
  padding-left: 2.3125em;
  border: 1px solid #0079c1;
}

/* CSS for CodePen */
.accordion-container {
  width: 300px;
  width: 720px;
  margin: 0 auto;
}

.clear {
  clear: left;
}

/* ----- questions */
/* contact ----- */
.contact-texts {
  background-color: #dcebd3;
  font-size: 1.6rem;
  padding-left: 24px;
  max-width: 720px;
}

/* ----- contact */
/* footer ----- */
footer {
  background-color: #635B4F;
  height: 150px;
  width: 100%;
  margin: 0 0 0 auto;
  text-align: center;
  line-height: 150px;
}

/* ----- footer */
.sp-none {
  display: none;
}
/*# sourceMappingURL=style.css.map */